
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  padding: 25px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
}

.title {
  margin-bottom: 10px;
  color:wheat;
}

.step-indicator {
  font-size: 14px;
  color:wheat;
  margin-bottom: 15px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.btn-group {
  display: flex;
  justify-content: space-between;
}

.btn {
  background: #007bff;
  border: none;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background: #0056b3;
}

.error {
  color: red;
  font-size: 14px;
}

.success {
  color: green;
  font-size: 18px;
} 

